<h1>🌍 Lista de Asteroides Cercanos</h1>

<table border="1" cellpadding="8" cellspacing="0">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Diámetro (km)</th>
      <th>Velocidad (km/s)</th>
      <th>Probabilidad de Impacto (%)</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @asteroids.each do |asteroid| %>
      <tr>
        <td><%= asteroid.name %></td>
        <td><%= asteroid.diameter %></td>
        <td><%= asteroid.velocity %></td>
        <td><%= asteroid.impact_probability %></td>
        <td>
          <%= link_to "Ver", asteroid_path(asteroid) %> |
          <%= link_to "Editar", edit_asteroid_path(asteroid) %> |
          <%= link_to "Eliminar", asteroid_path(asteroid), method: :delete, data: { confirm: "¿Seguro?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "➕ Nuevo Asteroide", new_asteroid_path %>
